.breed-select {
  width: 30%;
}

.cat-image {
  display: block;
  height: 480px;
  width: 100%;
  object-fit: cover;
}

.thumb {
  position: relative;
  display: flex;
  height: 480px;
  border: 2px dashed #2a2a2a;
  border-radius: 4px;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 0 15px;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #000;
  z-index: 100;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}

.loader.is-hidden {
  display: none;
}

.error.is-hidden {
  display: none;
}

.breed-select.is-hidden {
  display: none;
}